{% extends "base.html" %}
{% block content %}

<div class="container mt-5">

<div class="card shadow-lg p-4 rounded-4">
    <script>
        function addItem() {
          let container = document.getElementById('items-container');
        
          let newRow = `
          <div class="row mb-3 item-row">
            <div class="col">
              <input type="text" name="desc[]" class="form-control" placeholder="Description">
            </div>
            <div class="col">
              <input type="number" name="qty[]" class="form-control" placeholder="Qty">
            </div>
            <div class="col">
              <input type="number" name="price[]" class="form-control" placeholder="Price">
            </div>
          </div>`;
        
          container.insertAdjacentHTML('beforeend', newRow);
        }
        </script>
<h4 class="mb-4">Create New Bill</h4>

<form method="POST">
    {% csrf_token %}

    <div class="mb-3">
        <label>Patient</label>
        {{ form.patient }}
    </div>

    <hr>

    <h5>Items</h5>

<div id="items-container">
  <div class="row mb-3 item-row">
    <div class="col">
      <input type="text" name="desc[]" class="form-control" placeholder="Description">
    </div>
    <div class="col">
      <input type="number" name="qty[]" class="form-control" placeholder="Qty">
    </div>
    <div class="col">
      <input type="number" name="price[]" class="form-control" placeholder="Price">
    </div>
  </div>
</div>

<button type="button" class="btn btn-secondary mb-3" onclick="addItem()">
  + Add Item
</button>

    <button class="btn btn-success w-100">
        Generate Bill
    </button>

</form>

</div>

</div>

{% endblock %}