{% extends "base.html" %}
{% block content %}
<style>
    .table {
    border-radius: 10px;
    overflow: hidden;
}

.card {
    border-radius: 16px;
}
</style>
<div class="container mt-5">

<h2 class="mb-4 fw-bold">Billing</h2>

<div class="d-flex justify-content-between mb-3">
    <input type="text" class="form-control w-50" placeholder="Search bills...">

    <a href="{% url 'create_bill' %}" class="btn btn-success">
        + Create Bill
    </a>
</div>

<table class="table table-hover shadow-sm">
    <thead class="table-light">
        <tr>
            <th>Invoice</th>
            <th>Patient</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        {% for bill in bills %}
        <tr>
            <td>INV-{{ bill.id }}</td>
            <td>{{ bill.patient.name }}</td>
            <td>{{ bill.date }}</td>
            <td>₹{{ bill.final_amount }}</td>

            <td>
                <a href="{% url 'view_bill' bill.id %}" class="btn btn-sm btn-outline-dark">
                    View
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</div>

{% endblock %}