{% extends "base.html" %}
{% block content %}
<style>
    .table {
    border-radius: 10px;
    overflow: hidden;
}

.card {
    border-radius: 16px;
}
</style>
<div class="container mt-5">

    <div class="card shadow-lg border-0 rounded-4 p-4 mx-auto" style="max-width:600px;">
        <!-- Header -->
        <div class="d-flex justify-content-between mb-4">
            <div>
                <h5 class="fw-bold">INV-{{ bill.id }}</h5>
                <h4 class="fw-bold">Hospital Bill</h4>
                <p class="text-muted mb-0">Patient: {{ bill.patient.name }}</p>
                <p class="text-muted">Date: {{ bill.date }}</p>
            </div>
        </div>

        <!-- Table -->
        <table class="table table-hover">
            <thead class="table-light">
                <tr>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Qty</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item.description }}</td>
                    <td>₹{{ item.price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>₹{{ item.get_total }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Totals -->
        <div class="text-end mt-4">
            <h6>Total: ₹{{ bill.total_amount }}</h6>
            <h6>Tax (8%): ₹{{ bill.tax }}</h6>
            <h4 class="fw-bold text-success">Final: ₹{{ bill.final_amount }}</h4>
        </div>

        <!-- Button -->
        <div class="text-center mt-4">
            <a href="{% url 'billing_home' %}" class="btn btn-dark rounded-pill px-4">
                 Back
            </a>
        </div>

    </div>

</div>

{% endblock %}